@model AdvertViewModel

<!--===================================
=            Store Section            =
====================================-->
<section class="section bg-gray">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <!-- Left sidebar -->
            <div class="col-md-8">
                <div class="product-details">
                    <h1 class="product-title">@Model.Advert.Title</h1>
                    <div class="product-meta">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-user-o"></i> <a href="">@Model.Advert.User.Name</a></li>
                            @if (@Model.AdvertCategories.Count > 0)
                            {
                                <li class="list-inline-item">
                                    <i class="fa fa-folder-open-o"></i>
                                    <a asp-controller="Category" asp-action="Index" asp-route-cid="@Model.AdvertCategories[0].Id">
                                        @Model.AdvertCategories[0].Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>

                    <!-- product slider -->
                    <div class="product-slider">
                        @if (Model.AdvertImages.Count > 0)
                        {
                            int order = 0;
                            foreach (var item in Model.AdvertImages)
                            {
                                order++;
                                var block = order > 1 ? "d-block" : "";

                                <div class="product-slider-item my-4" data-image="/images/products/@item.ImageUrl">
                                    <img class="@block img-fluid w-100" src="~/images/products/@item.ImageUrl" alt="@item.Advert.Title">
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-md-5">
                                <p><b>Ürün fotoğrafı eklenmemiş</b></p>
                            </div>
                        }
                    </div>
                    <!-- product slider -->

                    <div class="content mt-5 pt-5">
                        <ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
                                   aria-selected="true">İlan Açıklaması</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
                                   aria-selected="false">Özellikler</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
                                   aria-selected="false">Yorumlar</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                <h3 class="tab-title">Açıklama</h3>
                                <p>
                                    @Model.Advert.Description
                                </p>

                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <h3 class="tab-title">İlan Özellikleri</h3>
                                <table class="table table-bordered product-table">
                                    <tbody>
                                        <tr>
                                            <td>İlan Başlığı</td>
                                            <td>@Model.Advert.Title</td>
                                        </tr>
                                        <tr>
                                            <td>Fiyatı</td>
                                            <td>@Model.Advert.Price TL</td>
                                        </tr>
                                        <tr>
                                            <td>Eklenme Tarihi</td>
                                            <td>@Model.Advert.CreatedAt</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                <h3 class="tab-title">İlan Yorumları</h3>
                                <div class="product-review">
                                    @if (Model.AdvertComments.Count > 0)
                                    {
                                        @foreach (var item in Model.AdvertComments)
                                        {
                                            <div class="media">
                                                <img src="@item.User.ProfileImagePath" alt="avatar">
                                                <div class="media-body">
                                                    <div class="ratings">
                                                        <ul class="list-inline">
                                                            @for (var i = 1; i <= item.StarRating; i++)
                                                            {
                                                                <li class="list-inline-item">
                                                                    <i class="fa fa-star"></i>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                    <div class="name">
                                                        <h5>@item.User.Name</h5>
                                                    </div>
                                                    <div class="date">
                                                        <p>@item.CreatedAt.ToShortDateString()</p>
                                                    </div>
                                                    <div class="review-comment">
                                                        <p>@item.Comment</p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div>
                                            <p><b>Bu ilana henüz yorum yapılmamıştır.</b></p>
                                        </div>
                                    }

                                    <div class="review-submission">
                                        <h3 class="tab-title">Yorum Yap</h3>
                                        <div class="rate">
                                            <div class="starrr"></div>
                                        </div>
                                        <div class="review-submit">
                                            <form class="row">
                                                @*<div class="col-lg-6">
                                                    <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                                                </div>*@
                                                <div class="col-12">
                                                    <textarea name="comment" id="comment" rows="10" class="form-control" placeholder="Yorum"></textarea>
                                                </div>
                                                <div class="col-12">
                                                    <button type="button" id="saveCommentButton" class="btn btn-main">Gönder</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    <div class="widget price text-center">
                        <h4>Price</h4>
                        <p>@Model.Advert.Price TL</p>
                    </div>
                    <!-- User Profile widget -->
                    <div class="widget user text-center">
                        <img class="rounded-circle img-fluid mb-5 px-5" src="images/user/user-thumb.jpg" alt="">
                        <h4><a href="">@Model.Advert.User.Name</a></h4>
                        <p class="member-time">Member Since @Model.Advert.User.CreatedAt</p>
                        <a href="">Bütün ilanıları gör.</a>
                        <ul class="list-inline mt-20">
                            <li class="list-inline-item"><a href="" class="btn btn-contact d-inline-block  btn-primary px-lg-5 my-1 px-md-3">İletişim</a></li>
                            <li class="list-inline-item">
                                <a href="" class="btn btn-offer d-inline-block btn-primary ml-n1 my-1 px-lg-4 px-md-3">
                                    Teklif Ver.
                                </a>
                            </li>
                        </ul>
                    </div>

                    @*
                        <!-- Map Widget -->
                        <div class="widget map">
                        <div class="map">
                        <div id="map_canvas" data-latitude="51.507351" data-longitude="-0.127758"></div>
                        </div>
                        </div>
                    *@

                    @*
                        <!-- Rate Widget -->
                        <div class="widget rate">
                        <!-- Heading -->
                        <h5 class="widget-header text-center">
                        Bu ürün için
                        <br>
                        Yorumun ne?
                        </h5>
                        <!-- Rate -->
                        <div class="starrr"></div>
                        </div>
                    *@

                    <!-- Safety tips widget -->
                    <div class="widget disclaimer">
                        <h5 class="widget-header">Güvenli Alışveriş İpuçları</h5>
                        <ul>
                            <li>Satıcılarla halk içinde buluşun</li>
                            <li>Almadan önce ürünü kontrol edin.</li>
                            <li>Ürünü onayladıktan sonra ödemesini yapın.</li>

                        </ul>
                    </div>
                    <!-- Coupon Widget -->
                    <div class="widget coupon text-center">
                        <!-- Coupon description -->
                        <p>
                            Satmak istediğin ürünün mü var ? Takipçilerimizle paylaşmak için ilan ver.
                        </p>
                        <!-- Submii button -->
                        <a href="" class="btn btn-transparent-white">İlan Ver</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- Container End -->
</section>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script>
        $(function() {
            $('#saveCommentButton').on('click', function() {

                let starCount = document.querySelectorAll(".starrr .fa-star").length;

                $.ajax({
                  method: "POST",
                  url: "/Advert/SaveComment",
                  data: { comment: $('#comment').val(), advertId: @Context.GetRouteValue("id"), star: starCount }
                }).done(function( msg ) {
                    $('.review-submission').html('Yorumunuz alınmıştır');
                    location.reload();
                    
                    /*
                    // TODO: Alternati olarak doğrudan yorumların olduğu kısma da eklenebilir.
                    var template = `
                    <div class="media">
                        <img src="" alt="avatar">
                        <div class="media-body">
                            <div class="ratings">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <i class="fa fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="name">
                                <h5>Deneme</h5>
                            </div>
                            <div class="date">
                                <p>10.01.2022</p>
                            </div>
                            <div class="review-comment">
                                <p>Deneme</p>
                            </div>
                        </div>
                    </div>`;
                    var yorumlar = document.querySelector('.product-review');
                    yorumlar.innerHTML += template;*/
                });
            });
        });
</script>
}